<mat-card>
    <h1>Student details</h1>
    <form #studentForm="ngForm">
      <div class="example-container">
        <p>
        <mat-form-field>
            <input 
                matInput placeholder="Average Math Grade"
                [(ngModel)] = "math"
                name = "math"
                type="number"
                required>
        </mat-form-field>
        </p>
        <p>
        <mat-form-field>
                <input 
                    matInput placeholder="psychometric Grade"
                    [(ngModel)] = "psycho"
                    name = "psycho"
                    type="number"
                    required>
        </mat-form-field>
      </p>  
    
          <mat-form-field appearance="fill">
            <mat-label>Paid tuition?</mat-label>
            <select matNativeControl
            [(ngModel)] = "pay"
            name = "pay"
             required>
              <option value="True">Yes</option>
              <option value="False">No</option>
            </select>
          </mat-form-field>
          <div>
            <button mat-raised-button *ngIf="!Predictresult" [disabled] = "!studentForm.form.valid" (click)="predict(math, psycho, pay)">Predict</button>
        </div>
          <mat-form-field appearance="fill" *ngIf = "Predictresult">
            <mat-label>prediction</mat-label>
            <mat-select [(ngModel)] = "Predictresult" name="result">
                <mat-option *ngFor="let prediction of predictions" [value]="prediction.value">
                  {{prediction.viewValue}}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <div *ngIf="Predictresult">
            <button mat-raised-button  color="primary" [disabled] = "!studentForm.form.valid"  (click) = "onSubmit()" >Save</button>
            <button mat-raised-button (click)= "Predictresult=null" >Cancel</button>
        </div>             
       
      </div>
    </form>
    </mat-card>
