<mat-card>
  <h1>Login</h1>
  <form #loginForm = "ngForm" (ngSubmit) = "onSubmit()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder= "example:you@you.com"
        [(ngModel)] = "email"
        name = "email"
        required>
        <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"
        [(ngModel)] = "password"
        name = "password"
        required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
      </mat-form-field>
      <mat-error>{{errorMessage}}</mat-error>
    </div>

    <div>
      <button [disabled] = "!loginForm.form.valid" type="submit" mat-raised-button color="primary">Login</button>
    </div>
  </form>
</mat-card>


